go 1.20

use (
	0000_Template
	0001_Two_Sum
	0002_Add_Two_Numbers
	0003_Longest_Substring_Without_Repeating_Characters
	0004_❌Median_of_Two_Sorted_Arrays
	0005_Longest_Palindromic_Substring
	0006_Zigzag_Conversion
	0007_Reverse_Integer
	0008_String_to_Integer
	0009_Palindrome_Number
	0011_Container_With_Most_Water
	0012_Integer_to_Roman
)
